<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd 
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<!--<context:annotation-config /> This will always calls overloaded constructor -->


	<bean name="employeeRepository"
		class="salesmanager.repository.HibernateEmployeeRepositoryImpl" />


	<bean name="employeeService"
		class="salesmanager.service.EmployeeServiceImpl" autowire="byName">
		<!-- autowire constructor can be use with constructor with argument -->
		<!-- if autowire byname or bytype can be use with constructor with no arguments -->

		<!-- <property name="employeeRepository" ref="employeeRepository"></property> --> <!--member injection -->
		<!--<constructor-arg index="0" ref="employeeRepository"></constructor-arg> -->    <!--constructor injection -->
	</bean>

</beans> 

